{% extends 'course/base.html' %}

{% block page_header %}
<h1>Topic: {{ topic.text}}</h1>
{% endblock page_header %}

{% block content %}
<p>
    <a href="{% url 'course:new_entry' topic.id %}">Add new entry</a>
</p>

    {% for entry in entries %}
    <div class="card mb-3">
        <!--Card header with timestamp and edit link-->
        <h4 class="card-header">
            {{ entry.date_added|date:'M d, Y' }}
            <small><a href="{% url 'course:edit_entry' entry.id %}">Edit entry</a></small>
        </h4>
        <!--card body with entry text-->
        <div class="card-body">{{ entry.text|linebreaks}}</div>
        </p>
    </div>
    {% empty %}
    <p>There is no entry for this post yet</p>
    {% endfor %}

{%  endblock content %}